.myheader
{
    font-size: 45;
    text-align: center;
}
.mytext
{
    text-align: center;
}
.myfield
{
    align-content: center;
    text-align: center;
}
.mybutt
{
    text-align: center;
    padding: 10px;
}